<html>
<head>
	<title>WWhatsalytics</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="/static/styles/main.css">	
</head>

<body>
  <nav class="grey darken-3" id="nav_bar">
      <div class="nav-wrapper">
        <a class="center brand-logo" href="/">Whatsalytics</a>
      </div>
  </nav>

 <br><br><br><br><br><br><br><br><br><br>
 <div class="row" style="text-align:center"><div class="col s4 offset-s4"> 

 	<form action="upload" method="post" enctype="multipart/form-data">
    	<div class="file-field input-field">
      		<div class="btn green">
        		<span>Choose File</span>
        		<input type="file" name="file">
      		</div>
      		<div class="file-path-wrapper">
        		<input class="file-path validate" type="text">
      		</div>
      		<br>
      		<button class="btn green" type="submit">
        		<span>Generate Stats</span>
      		</button>
    	</div>
  	</form>
  </div></div>
</body>
</html>