<html>
<head>
	<title>Whatsalytics</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="/static/styles/main.css">	

    <link rel="shortcut icon" type="image" href="/static/styles/logo.png" />
</head>

<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42807672-7', 'auto');
  ga('send', 'pageview');

</script>
  <nav class="grey darken-3" id="nav_bar">
      <div class="nav-wrapper">
      <a href="/" class="center brand-logo"><img style="width:228px;height:55px;" class="center brand-logo" src="/static/styles/logo.png"></a>
      </div>
  </nav>

 <br><br><br><br><br><br><br><br><br><br>
 <div class="row" style="text-align:center"><div class="col s4 offset-s4"> 

 	<form action="upload" method="post" enctype="multipart/form-data">
    	<div class="file-field input-field">
      		<div class="btn green">
        		<span>Choose File</span>
        		<input type="file" name="file">
      		</div>
      		<div class="file-path-wrapper">
        		<input class="file-path validate" type="text">
      		</div>
      		<br>
      		<button class="btn green" type="submit">
        		<span>Generate Stats</span>
      		</button>
    	</div>
  	</form>
  </div></div>
</body>
</html>